:root.theme-dark {
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --header-color: #DB00FF;
  --content-title-color: #ff0070;
  --content-sub-title-bold-color: #000028;
  --content-sub-title-thin-color: #000028;
  --footer-color: #DB00FF;
  --btn-color: #ff0070;
  --bg-image: url(../images/cover-image-dark.png);
  --decoration-color: #ff0070;
  --decoration-text-color: #000028;
  --btn-hover-color: rgb(255, 0, 112, 0.4);
}

.theme-dark .rec {
  display: flex;
}