:root.theme-light {
  --bg-color: #FFF1F7;
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --header-color: #FFC2E6;
  --content-title-color: #353430;
  --content-sub-title-bold-color: #353430;
  --content-sub-title-thin-color: #353430;
  --footer-color: #FFC2E6;
  --btn-color: #353430;
  --bg-image: url(../images/cover-image-light.png);
  --decoration-color: #353430;
  --decoration-text-color: #353430;
  --btn-hover-color: rgb(50, 49, 45, 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #FFF1F7;
    --text-color: #353430;
    --accent-color: #FF8DCB;
    --header-color: #FFC2E6;
    --content-title-color: #353430;
    --content-sub-title-bold-color: #353430;
    --content-sub-title-thin-color: #353430;
    --footer-color: #FFC2E6;
    --btn-color: #353430;
    --bg-image: url(../images/cover-image-light.png);
    --decoration-color: #353430;
    --decoration-text-color: #353430;
    --btn-hover-color: rgb(50, 49, 45, 0.4);
  }

  .rec {
    display: none;
  }
}

.theme-light .rec {
  display: none;
}