:root {
  --main-font: 'IBM Plex mono', sans-serif;
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --h1-color: #DB00FF;
  --h2-color: #ff0070;
  --h3-color: #000028;
  --h4-color: #000028;
  --h5-color: #DB00FF;
  --btn-color: #ff0070;
  --btn-outline-color: #ff0070;
  --btn-underline-color: #ff0070;
  --link-outline-color: #f1b2ce;
  --link-underline-color: #f1b2ce;
  --bg-image: url(../images/cover-image-dark.png);
  --decoration-color: #ff0070;
  --decoration-text-color: #000028;
  --btn-hover-color: rgb(255, 0, 112, 0.4);
  --link-hover-color: #f1b2ce;
}
